@{
    ViewData["Title"] = "Maps";
}

<style>
    #map {
        height: 100vh;
    }

    .leaflet-popup-content-wrapper {
        width: 100%;
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>Sample Mapping Setup.</p>
 
<div id="map"></div>